.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  color: #5f5050;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4px;  
}

.button {
  border-radius: 100px;
  width: 160px;
  height: 48px;
  background-color: #feca7d;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #5f5050;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.button:hover {
  background-color: #5f5050;
  color: #fae6cbf6;
}
.span {
  color: rgb(251, 49, 49);
  font-size: 14px;
  font-weight: 500;
}